@use "../../styles/mixins";

.input_group {
  margin-top: 2rem;

  label {
    display: flex;
    align-items: center;
    color: var(--clr-gray);
    font-weight: 300;
    letter-spacing: 1px;
  }

  input,
  textarea {
    display: block;
    width: 100%;
    margin-top: 10px;
    padding: 8px;
    background-color: var(--clr-primary);
    border: 1px solid var(--clr-ghost-25);
    border-radius: var(--border-3);
    color: var(--clr-txt-primary);
    font-size: 1.25rem;

    &:focus {
      outline: 1px solid var(--clr-ghost-25);
    }
  }

  textarea {
    min-height: 7rem;
    resize: vertical;
    @include mixins.scrollbar();

    &::-webkit-resizer {
      background-color: var(--clr-secondary);
    }
  }
}

.form_actions {
  margin-top: 2rem;
  display: flex;
  justify-content: flex-end;
  gap: 1rem;

  button {
    width: 85px;
    padding: 8px 12px;
    background-color: var(--clr-primary);
    border-radius: var(--border-3);
    color: var(--clr-txt-primary);
    font-weight: 300;
    cursor: pointer;

    transition: all 0.2s ease-out;

    &:hover {
      background-color: var(--clr-secondary);
    }

    &:first-of-type {
      color: var(--clr-gray);
      background-color: transparent;

      &:hover {
        color: var(--clr-txt-primary);
      }
    }
  }
}

.error_label {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-left: 1rem;
  color: #ff4d4d;
  font-size: 0.9rem;
}
